.sectionListItem_title {
  word-break: break-all;
  font-size: 16px;
  color: #eef0f4;
  margin: 16px 36px 4px
}

.wr_whiteTheme .sectionListItem_title {
  color: #0d141e
}

@media (max-width: 767px) {
  .sectionListItem_title {
    margin-left: 20px;
    margin-right: 20px
  }
}

.sectionListItem_divider {
  margin-left: 36px;
  margin-right: 36px;
  border-radius: 0;
  border: solid hsla(0, 0%, 100%, .05);
  border-width: 1px 0 0
}

@media (max-width: 767px) {
  .sectionListItem_divider {
    margin-left: 20px;
    margin-right: 20px
  }
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2),(min-resolution: 2dppx),(min-resolution: 192dpi) {
  .sectionListItem_divider {
    position: relative;
    border: 0
  }

  .sectionListItem_divider:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    border-radius: 0;
    border: solid hsla(0, 0%, 100%, .05);
    border-width: 1px 0 0;
    transform: scale(.5);
    transform-origin: 0 0;
    pointer-events: none
  }
}

@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3),(min-resolution: 3dppx),(min-resolution: 288dpi) {
  .sectionListItem_divider:after {
    width: 300%;
    height: 300%;
    border-radius: 0;
    transform: scale(.33333)
  }
}

.wr_whiteTheme .sectionListItem_divider {
  border-radius: 0;
  border: solid #ebedf1;
  border-width: 1px 0 0
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2),(min-resolution: 2dppx),(min-resolution: 192dpi) {
  .wr_whiteTheme .sectionListItem_divider {
    position: relative;
    border: 0
  }

  .wr_whiteTheme .sectionListItem_divider:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    border-radius: 0;
    border: solid #ebedf1;
    border-width: 1px 0 0;
    transform: scale(.5);
    transform-origin: 0 0;
    pointer-events: none
  }
}

@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3),(min-resolution: 3dppx),(min-resolution: 288dpi) {
  .wr_whiteTheme .sectionListItem_divider:after {
    width: 300%;
    height: 300%;
    border-radius: 0;
    transform: scale(.33333)
  }
}

.sectionListItem_divider.leftIndent {
  margin-left: 72px
}

@media (max-width: 767px) {
  .sectionListItem_divider.leftIndent {
    margin-left: 56px
  }
}

.sectionListItem_content {
  display: block;
  padding: 18px 36px;
  word-break: break-all;
  font-size: 15px;
  line-height: 24px;
  color: #b2b4b8;
  cursor: default
}

@media (max-width: 767px) {
  .sectionListItem_content {
    padding-left: 20px;
    padding-right: 20px
  }
}

.wr_whiteTheme .sectionListItem_content {
  color: #5d646e
}

.sectionListItem_content.clickable {
  cursor: pointer
}

.sectionListItem_content.clickable:hover {
  background: linear-gradient(90deg, rgba(0, 0, 0, .2), transparent);
  color: #eef0f4
}

.wr_whiteTheme .sectionListItem_content.clickable:hover {
  color: #212832;
  background: linear-gradient(90deg, rgba(0, 0, 0, .05), transparent)
}

.noteItem_content {
  display: flex;
  flex-direction: row;
  align-items: flex-start
}

.noteItem_content .icon {
  display: inline-block;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  background: url(https://weread-1258476243.file.myqcloud.com/web/wrwebnjlogic/image/reader_notelist_underline.2d994025.png) no-repeat;
  background-size: 100%
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2),(min-resolution: 2dppx),(min-resolution: 192dpi) {
  .noteItem_content .icon {
    background-image: url(https://weread-1258476243.file.myqcloud.com/web/wrwebnjlogic/image/reader_notelist_underline_2x.514e9a95.png)
  }
}

@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3),(min-resolution: 3dppx),(min-resolution: 288dpi) {
  .noteItem_content .icon {
    background-image: url(https://weread-1258476243.file.myqcloud.com/web/wrwebnjlogic/image/reader_notelist_underline_3x.e7494112.png)
  }
}

.wr_whiteTheme .noteItem_content .icon {
  background-image: url(https://weread-1258476243.file.myqcloud.com/web/wrwebnjlogic/image/reader_notelist_underline_white.19d9d8bc.png)
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2),(min-resolution: 2dppx),(min-resolution: 192dpi) {
  .wr_whiteTheme .noteItem_content .icon {
    background-image: url(https://weread-1258476243.file.myqcloud.com/web/wrwebnjlogic/image/reader_notelist_underline_white_2x.8256d8cb.png)
  }
}

@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3),(min-resolution: 3dppx),(min-resolution: 288dpi) {
  .wr_whiteTheme .noteItem_content .icon {
    background-image: url(https://weread-1258476243.file.myqcloud.com/web/wrwebnjlogic/image/reader_notelist_underline_white_3x.bdaa80d9.png)
  }
}

.noteItem_content .wr_ratingLevelBar {
  margin-top: 2px
}

.noteItem_content .text {
  margin-top: 3px;
  font-size: 15px;
  color: #eef0f4;
  line-height: 24px;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-text-size-adjust: none;
  box-orient: vertical;
  height: auto;
}

.wr_whiteTheme .noteItem_content .text {
  color: #212832
}

.noteItem_content .abstract {
  margin-top: 12px;
  font-size: 14px;
  color: #8a8c90;
  line-height: 24px;
  overflow: hidden;
  height: 72px;
  display: -webkit-box;
  display: -moz-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -moz-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  -webkit-text-size-adjust: none;
  box-orient: vertical;
  height: auto;
  max-height: 72px;
  border-left: 2px solid rgba(138, 140, 144, .3);
  padding-left: 10px
}

.wr_whiteTheme .noteItem_content .abstract {
  color: #858c96;
  border-left-color: rgba(133, 140, 150, .3)
}

.noteItem_content_review .icon {
  background: url(https://weread-1258476243.file.myqcloud.com/web/wrwebnjlogic/image/reader_notelist_review.6dddb62c.png) no-repeat;
  background-size: 100%
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2),(min-resolution: 2dppx),(min-resolution: 192dpi) {
  .noteItem_content_review .icon {
    background-image: url(https://weread-1258476243.file.myqcloud.com/web/wrwebnjlogic/image/reader_notelist_review_2x.f3f14cea.png)
  }
}

@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3),(min-resolution: 3dppx),(min-resolution: 288dpi) {
  .noteItem_content_review .icon {
    background-image: url(https://weread-1258476243.file.myqcloud.com/web/wrwebnjlogic/image/reader_notelist_review_3x.b9a0922d.png)
  }
}

.wr_whiteTheme .noteItem_content_review .icon {
  background-image: url(https://weread-1258476243.file.myqcloud.com/web/wrwebnjlogic/image/reader_notelist_review_white.b357af3a.png)
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2),(min-resolution: 2dppx),(min-resolution: 192dpi) {
  .wr_whiteTheme .noteItem_content_review .icon {
    background-image: url(https://weread-1258476243.file.myqcloud.com/web/wrwebnjlogic/image/reader_notelist_review_white_2x.31be45bb.png)
  }
}

@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3),(min-resolution: 3dppx),(min-resolution: 288dpi) {
  .wr_whiteTheme .noteItem_content_review .icon {
    background-image: url(https://weread-1258476243.file.myqcloud.com/web/wrwebnjlogic/image/reader_notelist_review_white_3x.d38a23ec.png)
  }
}

html body.wr_whiteTheme {
  background-color: #f6f7f9
}

.wr_page_reader .app {
  height: 100%
}
