.container {
  text-align: left;
  margin: 0 auto;
  //max-width: 65%;
  .title{
    margin-top: 20px;
  }

  h1 {
    text-align: center;
  }

  .author {
    text-align: right;
    margin: 30px 0;
  }
  .written{
    display: flex;
    margin: 0 auto;
  }

  section + section {
    margin-bottom: 30px;
  }
  .footer{
    margin-top: 30px;
    text-align: center;
    border-top: 1px solid #ddd;
    padding-top: 30px;
  }
}
